 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>I am a cyber security consultant working with compliance and risk. My background is a cyber security degree from a major University. I am slowly working on transitioning to more technical roles, starting with passing the OSCP exam this Fall. </p>
                </div>
                <div class="col-lg-4">
                    <p> This website is my platform for hosting my projects, research, and more. My projects are mostly dev applications built on python. Thanks for the visit.</p>
                </div>
            </div>
        </div>
    </section>
